@namespace CG.Blazor.Wizard
@inherits MudComponentBase

<CascadingValue Value="this" IsFixed="true">
    <MudCard @attributes="UserAttributes" 
             Class="@Classname" 
             Style="@Style" 
             Elevation="@Elevation"
             Outlined="@Outlined"
             Square="@Square">
        @if (null != SelectedIndex)
        {
            <MudCardHeader Style="border-bottom: 1px solid grey;">
                @if (ShowChips)
                {
                    <MudGrid Justify="Justify.SpaceEvenly">
                        @foreach (var panel in _panels)
                        {
                            <MudItem>
                                @if (panel == SelectedPanel)
                                {
                                    <MudChip Size="Size.Small" 
                                            Color="@HeaderChipSelectedColor" 
                                            Variant="@HeaderChipVariant"
                                            Text="@panel.Title"/> }
                                else
                                {
                                    <MudChip Size="Size.Small" 
                                            Text="@panel.Title"
                                            Variant="@HeaderChipVariant"
                                            Color="@HeaderChipColor"
                                            OnClick="(() => Select(panel))" /> 
                                }
                            </MudItem> 
                        }
                    </MudGrid>
                }
                @if (null != SelectedPanel)
                {
                    if (!ShowChips)
                    {
                        <MudText Class="mt-2 mx-2" 
                                 Typo="@TitleTypo"
                                 Color="@TitleColor">
                            @SelectedPanel?.Title
                        </MudText> 
                    }
                    <MudText Class="mt-2 mx-2" 
                             Typo="@DescriptionTypo"
                             Color="@DescriptionColor">
                        @SelectedPanel?.Description
                    </MudText> 
                }
            </MudCardHeader>
        }

        <MudCardContent>
            @ChildContent
        </MudCardContent>

        @if (null != SelectedIndex)
        {
            <MudCardActions Style="border-top: 1px solid grey;">
                <MudTooltip Text="Move to the previous step.">
                    <MudButton OnClick="OnPrevious" 
                            Disabled="@IsPreviousDisabled"
                            Color="@PreviousColor"
                            Variant="@ButtonVariant">
                        Previous
                    </MudButton>
			    </MudTooltip>

                <span style="display: flex; margin-left: auto">
                    @if (ShowCancel)
                    {
                        <MudTooltip Text="Cancel the wizard.">
                            <MudButton OnClick="OnCancel"
                                    Class="mr-4"
                                    Color="@CancelColor"
                                    Variant="@ButtonVariant">
                                Cancel
                            </MudButton>
				        </MudTooltip>                        
                    }
                    @if (@IsFinishVisible)
                    {
                        <MudTooltip Text="Finish the wizard.">
                            <MudButton OnClick="OnFinish"
                                       Color="@FinishColor"
                                       Variant="@ButtonVariant">
                                Finish
                            </MudButton>
					    </MudTooltip>
                    }
                    else
                    {
                        <MudTooltip Text="Move to the next step.">
                            <MudButton OnClick="OnNext" 
                                       Disabled="@IsNextDisabled"
                                       Color="@NextColor"
                                       Variant="@ButtonVariant">
                                Next
                            </MudButton> 
					    </MudTooltip>
                    }
                </span>
            </MudCardActions>
        }
    </MudCard>
</CascadingValue> 
